body{
    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color:#333333;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

p{
    margin: 16px 0px 0px 40px;
}
header{
    background-color:  #333333;
    text-align: center;
    padding: 5px 0px 10px 0;

}

h1{
    color:#eee;
    font-size: 28px;

}

h2{
    font-size: 24px;
    margin: 41px 0px 0px 56px;
}

.container{
    margin: 0 auto;
}

#main-bio, #contact-info, #bio-image{
    float: left;
}

#bio-image{
    width: 200px;
    margin: 18px 22px 0px 53px;
}

#main-bio{
    width: 70%;
}
#contact-info{
    width: 30%;
}

a:link{
  color:  #d21034;
}